<html>

<head>
    <title>找回密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="{{ url_for('static', filename='css/forgetpassword.css') }}" rel="stylesheet" />

</head>
<!-- html主体部分start -->

<body>

    <!-- main -->
    <div class="main-w3layouts wrapper">
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form action="#" method="post">
                    <input class="text" type="text" name="Username" placeholder="姓名" required="">
                    <input class="text" type="text" title="email" required
                        pattern="^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$"
                        placeholder="请输入正确的邮箱格式" />
                    <input type="submit" value="验证">
                </form>
            </div>
        </div>
        <ul class="w3lsg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- //main -->

</body>
<!-- html主体部分end -->

</html>