<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui:ios">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page5</title>
    <link rel="stylesheet" href="">
    <script src=""></script>
</head>

<body style="width: 1200px;height: 500px;margin: 0 auto">
    <div style="width: 300px; float: left;">
         <div style="background-color:darkblue;height: 250px;">

        </div>
        <div style="background-color:rgba(5, 139, 0, 0.459);height: 250px;">

        </div>

    </div>
    <div style="width: 600px; float: left;height: 500px;">
       <div style="background-color:salmon;height: 500px;">

        </div>
    </div>
    <div style="width: 300px; float: left;">
        <div style="background-color:rgb(102, 139, 0);height: 250px;">

        </div>
        <div style="background-color:rgb(139, 0, 120);height: 250px;">

        </div>
        
    </div>
    <div style="width: 600px;height: 250px;background: rgb(224, 71, 71);float: left;">

        </div>
        <div style="width: 600px;height: 250px;background: rgb(71, 219, 224);float: left;">

        </div>
</body>

</html>